{% extends "base.jinja" %} {% block title %} Iniciar sesión {% endblock title %}

{% block body %}
<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
    <form class="col-12 col-md-10 col-lg-6 col-xl-4 p-4 p-lg-5  border border-secondary rounded-5" method="post">
        {{ form.csrf_token}}
        <h2 class="text-center fs-4">Iniciar sesión</h2>
        <div class="mb-3">
            {{form.email.label(class="form-label")}}
            {{ form.email(class="form-control",value=form.email.data if form.email.data else "",
            placeholder="ejemplo@gmail.com") }}
        </div>
        <div class="mb-3">
            {{form.password.label(class="form-label")}}
            {{ form.password(class="form-control") }}
        </div>
        <a href="/register" class="">Registrarse</a>
        <div class="d-flex mt-3 justify-content-between">
            <a href="/" class="btn btn-outline-secondary">Cancelar</a>
            <button type="submit" class="btn btn-primary">Iniciar</button>
        </div>
    </form>
</div>

{% endblock body %}