{% extends "base.jinja" %}

{% block title %}Lista de Notas{% endblock title %}

{% block body %}
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="mb-4">Lista de Notas</h1>
        <!-- Botón para Crear Nueva Nota -->
        <a href="{{ url_for('notes.create_note') }}" class="btn btn-success btn-lg">
            Crear Nota
        </a>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-8">
            <table class="table table-bordered table-striped table-hover text-center">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Contenido</th>
                        <th>Fecha de Creación</th>
                        <th>Última Modificación</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for nota in notas %}
                    <tr>
                        <td>{{ nota.id }}</td>
                        <td>{{ nota.titulo }}</td>
                        <td>{{ nota.contenido }}</td>
                        <td>{{ nota.fecha_creacion }}</td>
                        <td>{{ nota.fecha_modificacion }}</td>
                        <td>
                            <!-- Botón de Editar -->
                            <a href="{{ url_for('notes.editar_nota', id=nota.id) }}" class="btn btn-primary btn-sm">
                                Editar
                            </a>
                            <!-- Botón de Eliminar -->
                            <a href="{{ url_for('notes.eliminar_nota', id=nota.id) }}" class="btn btn-danger btn-sm">
                                Eliminar
                            </a>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="6">No hay notas aún.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock body %}
